h2 {
    text-align: left;
}

div {
    text-align: left;
}

p {
    text-align: justify;
    margin-bottom: 0.8rem;
}

.multi-column {
    column-gap: 1.3rem;
    justify-content: space-evenly;
    @media screen and (min-width: 550px) {
        column-count: 2;
    }
}