h2 {
    text-align: left;
}

div {
    text-align: left;
}

p {
    text-align: justify;
    margin-bottom: 0.8rem;
}

.multi-column {
    column-count: 2;
    column-gap: 1.3rem;
    justify-content: space-evenly;
}