@font-face {
    font-family: 'NewsPaper';
    src: local('NewsPaper'), url('../../components/fonts/OldNewspaperFont.ttf') format('truetype');
    font-display: swap;
}

ul {
    list-style-type: inside;
    border: 1px solid black;
    border-radius: 3px;
    width: 97%;
    margin-left: 10px;
    padding-left: 10px;
    li {
        display: inline;
        margin: 10px;
    }
}

.header-title {
    margin: 20px 0 20px 0;
    font-family: 'NewsPaper', serif;
    font-size: 130px;
    @media screen and (max-width: 550px){
        font-size: 50px;
    }
}