@font-face {
  font-family: 'BreitkopfFraktur.ttf';
  src: local('BreitkopfFraktur'), url('./components/fonts/BreitkopfFraktur.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	font-size: 1.1rem;
	background: var(--preview-bg);
	font-family: var(--font);
	color: var(--black);
	/* background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/paper_fibers.png)
		repeat; */
	line-height: 1.3;
  text-align: justify;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
